html{
	background-color: black;
	color: red;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
h1 {
	#font-family: "Open Sans", sans-serif;
	max-width: 250px;
	margin: 25px auto;
	box-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

h1:hover{
	transform: scale(1.2);
}

.box {
	#border: 4px solid red;
	box-shadow: 0 0 10px rgba(255, 0, 255, .6);
	max-width: 250px;
	margin: 0 auto;
	#background-color: gray;
	padding: 20px;
	text-align: center;
}

.box:hover {
	transform: scale(1.1);
}

.hora {
	color: blue;
	font-size: 2rem;
}

.hora:hover {
	transform: scale(1.2);
}

button{
	border-radius: 1000px;
}

button:hover {
	transform: scale(1.2);
	cursor: pointer;
}

button:focus{
	box-shadow: none;	
	transform: scale(0.98);
}

.btn {
	height: 40px;
	width: 120px;
	background-color: green;
	color: black;
	border: 2px solid darkgreen;
	font-size: 1.2rem;
}

.btn:hover {
	box-shadow: 0 0 15px rgba(0, 255, 0, .6);
	background-color: lightgreen;
}

.btn:focus {
	background-color: green;
}

footer {
	display: block;
	width: 100%;
	height: 20px;
	position: fixed;
	bottom: 50px;
}

.priviet {
	background-color: red;
	width: 75px;
	height: 25px;
	font-size: 0.9rem;
}

.priviet:hover {
	background-color: orange;
	box-shadow: 0 0 15px rgba(255, 0, 0, .6);
}

